---
import HeaderLink from './HeaderLink.astro';
---
<nav class="nav-links">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="/posts">Posts</HeaderLink>
</nav>
